$color-primary: white;
$color-secundary: rgb(60, 156, 225);

.nav {
    display: flex;
    margin-bottom: 25px;
    background-color: $color-secundary;
    padding-inline: 10px;
    align-items: center;
}

.title {
    justify-content: center;
    width: 100%;
    h1 {
        margin: 10px;
        color: white;
    }
}

.nav--create {
    width: 300px;
    .btn {
        width: 100%;
        padding: 8px;
        border-radius: 8px;
        font-size: 1.6rem;
        border-style: solid;
        border-width: 2px;
        border-color: $color-secundary;
        color: $color-secundary;
        background-color: $color-primary;
        &:hover {
            color: $color-primary;
            background-color: $color-secundary;
            border-color: white;
        }
    }
}

@media screen and (max-width: 600px) {
    .nav--create {
        width: 100px;
    }
}
