// Variables
$color-primary: white;
$color-secundary: rgb(60, 156, 225);
$color-delete: rgb(249, 49, 49);
$color-success: rgb(13, 136, 13);

.rocket--detail {
    position: fixed;
    top: 20%;
    left: 70%;
    bottom: 20%;
    right: 0%;
    padding: 20px;
    margin: 2px;
    border-radius: 20px 0px 0px 20px;
    background-color: white;
    box-shadow: 2px 2px 8px gray;
    display: flex;
    flex-direction: column;
    transition: all ease-out 0.5s;
    transform: translateX(100%);
    &.active {
        transform: translateX(0%);
    }
    .detail--content {
        overflow-y: auto;
    }
    .rocket--close {
        width: auto !important;
        border-width: 0px;
        background-color: white;
        font-size: 2rem;
        &:hover {
            border-radius: 50%;
            background-color: $color-delete;
        }
    }
    h2 {
        font-size: 3rem;
        margin: auto;
    }
    .rocket--img {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .rocket--name {
        margin: 5px auto;
        font-size: 2rem;
        font-weight: bold;
    }
    .rocket--country {
        font-weight: bold;
        margin: 5px 0px;
    }
    .rocket--height {
        margin: 5px 0px;
        span {
            font-weight: bold;
        }
    }
    .btn {
        width: 100%;
        padding: 8px;
        margin-top: 10px;
        border-radius: 8px;
        font-size: 1.6rem;
        border-style: solid;
        border-width: 2px;
        border-color: $color-secundary;
        color: $color-secundary;
        background-color: $color-primary;
        &:hover {
            color: $color-primary;
            background-color: $color-secundary;
        }
    }
    .detail--buttons {
        display: flex;
        justify-content: center;
        bottom: 100%;
        gap: 5px;
        .btn--edit {
            width: 50% !important;
            &:hover {
                border-width: 0px;
                background-color: $color-success;
            }
        }
        .btn--delete {
            width: 50% !important;
            &:hover {
                border-width: 0px;
                background-color: $color-delete;
            }
        }
    }
    .content--inputs {
        display: flex;
        margin: 10px 0px 20px 0px;
        width: 100%;
        flex-direction: column;
        overflow-y: auto;
        input {
            font-size: 1.6rem;
            margin: 15px 0px;
            padding: 8px;
            border-radius: 5px;
        }
        textarea {
            font-size: 1.6rem;
            margin: 15px 0px;
            padding: 8px;
            border-radius: 5px;
        }
    }
}

.rockets--grid {
    display: grid;
    grid-gap: 15px;
}

// // tablets
// @media screen and (min-width: 480px) {
//     .rockets--grid {
//         grid-template-columns: repeat(2, 1fr);
//         grid-gap: 15px;
//     }
// }

// // web
// @media screen and (min-width: 768px) {
//     .rockets--grid {
//         grid-template-columns: repeat(2, 1fr);
//         grid-gap: 10px;
//         margin: 0 20%;
//         width: calc(100% - 40%);
//     }
// }

// @media screen and (min-width: 1024px) {
//     .rockets--grid {
//         grid-template-columns: repeat(4, 1fr);
//         grid-gap: 25px;
//         margin: 0 10%;
//         width: calc(100% - 20%);

//     }
// }

// any
@media screen and (min-width: 40em) {
    .rockets--grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 15px;
        margin: 0 10%;
        width: calc(100% - 20%);
    }
}
