<app-nav (createRocket)="onShowCreate()"></app-nav>
<div class="rockets--grid">
    <app-rocket [rocket]="rocket" *ngFor="let rocket of rockets" (showRocket)="onShowPanel($event)"> </app-rocket>
</div>
<div class="rocket--detail" [class.active]="showRocketDetail">
    <div>
        <button class="rocket--close" (click)="toggleRocketDetail()">
            ✖️
        </button>
    </div>
    <div class="detail--content" [ngSwitch]="showPanel">
        <div class="detail--content" *ngSwitchCase="'detailRocket'">
            <div class="rocket--img">
                <swiper [slidesPerView]="1">
                    <ng-template swiperSlide *ngFor="let img of rocket.flickr_images">
                        <img [src]="img" [alt]="rocket.name">
                    </ng-template>
                </swiper>
            </div>
            <h3 class="rocket--name">{{ rocket.name }}</h3>
            <p class="rocket--country">{{ rocket.country }}</p>
            <p class="rocket--discription">{{ rocket.description }}</p>
            <p class="rocket--height"><span>Altura:</span> {{ rocket.height }}</p>
        </div>
        <div class="content--inputs" *ngSwitchCase="'createRocket'">
            <h2>Crear Rocket</h2>
            <div class="content--inputs">
                <input type="text" [(ngModel)]="rocket.name" placeholder="Nombre">
                <input type="text" [(ngModel)]="rocket.country" placeholder="País">
                <textarea rows="5" [(ngModel)]="rocket.description" placeholder="Descripción"></textarea>
                <label>Altura</label>
                <input type="number" [(ngModel)]="rocket.height">
            </div>
        </div>
        <div class="content--inputs" *ngSwitchCase="'updateRocket'">
            <h2>Editar Rocket</h2>
            <div class="content--inputs">
                <input type="text" [(ngModel)]="rocket.name" placeholder="Nombre">
                <input type="text" [(ngModel)]="rocket.country" placeholder="País">
                <textarea rows="5" [(ngModel)]="rocket.description" placeholder="Descripción"></textarea>
                <label>Altura</label>
                <input type="number" [(ngModel)]="rocket.height">
            </div>
        </div>
    </div>
    <div class="detail--buttons" [ngSwitch]="showPanel">
        <ng-template ngSwitchCase="detailRocket">
            <button class="btn btn--edit" (click)="onChangeView()">
                Editar
            </button>
            <button class="btn btn--delete" (click)="deleteRocket()">
                Eliminar
            </button>
        </ng-template>
        <ng-template ngSwitchCase="updateRocket">
            <button class="btn" (click)="saveAndBack()">
                Regresar
            </button>
        </ng-template>
        <ng-template ngSwitchCase="createRocket">
            <button class="btn" (click)="saveAndClose()">
                Crear
            </button>
        </ng-template>
    </div>
</div>
